---
import { getCollection } from "astro:content";
import ProjectSection from "@/components/section/ProjectSection.astro";
import Layout from "@/layouts/Layout.astro";

const personalProjects = await getCollection(
	"projects",
	({ data }) => data.type === "personal",
);
const sortedPersonalProjects = personalProjects.sort((a, b) =>
	a.data.date > b.data.date ? -1 : 1,
);
---

<Layout seo={{ title: "Projects" }}>
	<section class="mx-auto max-w-[920px] px-4 py-10">
		<ProjectSection
			projects={sortedPersonalProjects}
			seeMoreUrl={null}
		/>
	</section>
</Layout>
