<div class="flex items-center justify-center gap-4 w-full mb-4">
	<a data-astro-prefetch href="/" class="flex items-center gap-1 underline text-sm text-[#0C3F33]/70">
		<span class="icon-[fluent--arrow-reset-24-filled]"></span> Back
	  </a>
	  <a data-astro-prefetch href="/" class="flex items-center gap-1 underline text-sm text-[#0C3F33]/70">
		<span class="icon-[solar--home-bold-duotone]"></span> Back to Home
	  </a>
</div>
