---
import PostCard from '../card/PostCard.svelte';
import type { Post } from '@/domain/post';

interface Props {
    posts: Post[];
    title: string;
    description: string;
}

const { posts, title, description } = Astro.props;
---

<section class="py-5">
    {
        Astro.url.pathname !== '/posts' ? (
          <a
            href="/posts"
            class="text-2xl underline font-bold text-[#0C3F33] mb-2"
          >
            {title} <span class="text-base icon-[lucide--bow-arrow]" />
          </a>
        ) : (
          <h1 class="text-2xl font-bold text-[#0C3F33] mb-2">{title}</h1>
        )
      }
    
      <p class="text-base text-[#0C3F33]/80 pb-4 pt-2">{description}</p>
    <div class="grid grid-cols-12 gap-5">
        {
            posts.length > 0 ? (
                posts.slice(0, 6).map((post) => (
                    <PostCard {...post.data} href={`/posts/${post.slug}`} />
                ))
      ) : <p class="col-span-12 text-left text-base text-[#0C3F33]/80 pb-4 pt-2">Still in the content filling stage of the project.</p>
    }
    </div>
</section>
