---
import type { Project } from '@/domain/project';
import ProjectCard from '../card/ProjectCard.astro';

interface Props {
  projects: Project[];
  seeMoreUrl: string | null;
}

const { projects, seeMoreUrl } = Astro.props;
---

<section>
    <h2 class="text-2xl font-bold text-[#0C3F33] mb-2">All Project's</h2>
    <p class="text-[#0C3F33] pb-4">
        Even though I don't write often, I try to share my thoughts and
        experiences from time to time. Hope you find them useful!
    </p>
  <div
    class="relative grid grid-cols-12 gap-5 pb-4"
  >
    {projects.map((project) => (
      <ProjectCard
        title={project.data.title}
        description={project.data.description}
        href={`/projects/${project.slug}`}
        stack={project.data.stack}
      />
    ))}
  </div>
</section>