---
import type { WorkExperience } from '@/domain/work-experience';
import WorkExperienceCard from '../card/WorkExperienceCard.astro';

interface Props {
    workExperiences: WorkExperience[];
}

const { workExperiences } = Astro.props;
---

<section class="mb-4">
    <h2 class="text-2xl font-bold text-[#0C3F33] pb-4">Work Experience</h2>
    <div class="flex flex-col gap-10">
        {
            workExperiences.map((experience) => (
                <WorkExperienceCard experience={experience} />
            ))
        }
    </div>
</section>
