---
import SEO, { type Props as SEOProps } from '@/components/SEO.astro';
import '@/styles/layout.scss';
import '@/styles/global.css';
export interface Props {
	seo: SEOProps;
}
---

<!doctype html>
<html lang="en">
	<head>
		<SEO {...Astro.props.seo} />
	</head>
	<body>
		<slot />
	</body>
</html>